<header>
    <nav>
        <a href="/">home</a>
        <ul>
            <li>
                <a href="#"> 
                    save weather               
                </a>
            </li>
        </ul>
    </nav>
    
</header>