<!-- boilerplate for every route -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Title</title>
</head>
<body>
    Before app view
    <br>
    <%- body %>
    <br>
    After app view
</body>
</html>

