<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Application</title>
  <!-- <script type="text/javascript" src="js/jquery.min.js" ></script> -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bubble.css">
  
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <%- include('../partials/errorMessage.ejs') %>
  <%- body %>
</body>
<!-- due to server config no need to reference public folder -->
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script type="application/javascript" src="js/tooltip.js"></script>
<script type="application/javascript" src="js/city.list.json"></script>
<script type="application/javascript" src="js/index.js" ></script>
<!-- <script type="application/javascript" src="js/bootstrap.min.js" ></script> -->

</html>