
<div class="container">
  <div class="d-flex align-items-center flex-column justify-content-center h-100 text-white">
    <div class="">
      <h1 for="w-location">Location</label>
        <input type="text" id='w-location' name="w-location"><br><br>
    </div>

    <!-- <div class="outline">
      <ul>
        <li>item 1</li>
      </ul>
    </div> -->
    <div class="card text-white mb-3 drop-down outline">
      <ul class="city-list ">
      </ul>    
    </div> 
  </div>
     
  
  
  
  <div id='weather-data-display' class="weather-data--card hide-data">
      <div class="card-body show-card-text text-white">
        <h1 class="card-title text-white">Weather Data</h1>
        <br>
        <h4 class="card-subtitle  mb-2 text-white">Location</h2>
        <h6 id='location' class="card-text"></p>
        <h4 class="card-subtitle  mb-2 text-white">Temp</h2>
        <h6 id="temp" class="card-text"></p>
        <h4 class="card-subtitle  mb-2 text-white">Description</h2>
        <h6 id ="description" class="card-text"></p>
      </div>
      
      <img class="card-img-top icon-sizing" id="icon" src="" width="250" length="200" alt="">
  </div>
  <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>
</div>
  

