  <div>
    <h1 for="w-location">Location</label>
      <input type="text" id='w-location' name="w-location"><br><br>
  </div>



<ul class="city-list">
  <li class="city-list-item">

  </li>
</ul>


<div>
  <h1>Weather Data</h1>
  <br>
  <h2>Location</h2>
  <p id='location'></p>
  <h2>Temp</h2>
  <p id="temp"></p>
  <h2>Description</h2>
  <p id ="description"></p>

<div>
  <img id="icon" src="" width="250" length="200" alt="">
</div>

</div>