<form action="/action_page.php">
    <label for="w-location">Location</label>
    <input type="text" id='w-location' name="w-location"><br><br>
  </form> 
<ul class="city-list">
  <li class="city-list-item">

  </li>
</ul>


